<!DOCTYPE html>
<html lang="pl">
	
	{% include 'admin/pdf/pdf_head.html.twig' %}

	<title>Ewidencja przebiegu</title>
	<body style="font-family:firefly,DejaVu Sans,sans-serif;font-size:10px;">
		<h4 style="text-align:center;text-transform:uppercase;">Ewidencja przebiegu pojazdu</h4>
		<h5 style="text-align:center;font-size:11px;margin-top:-10px;">
			{% include 'admin/month.html.twig' with { 'value': entity.month } %} {{ entity.year }}
		</h5>

		{% include 'admin/pdf/pdf_standard.html.twig' %}

        <div style="width:100%;margin-top:20px;">
			 <table>
			        <thead>
			            <tr>
			                <th class="x">Lp.</th>
			                <th class="x">Data <br/>wyjazdu</th>
			                <th class="x">Opis trasy</th>
			                <th class="x">Cel wyjazdu</th>
			                <th class="x">Km</th>
			                <th class="x">Stawka</th>
			                <th class="x">Wartość</th>
			                <th class="x">Stan licznika</th>
			              	<th class="x">Podpis <br/>podatnika</th>
			                {% if comments == 'true' %}
			                <th class="x">Uwagi</th>
			                {% endif %}
			            </tr>
			        </thead>
			        <tbody>
			            {% set sum_km = 0 %}
			            {% set sum_value = 0 %}
			            {% for course in entity.getCourses() %}
			            {% set sum_km = sum_km + course.km %}
			            {% set sum_value = sum_value + course.value %}
			            <tr>
			                <td class="x" style="text-align:center;">{{ loop.index }}</td>
			                <td class="x" style="text-align:center;">{{ course.date|date("d-m-Y") }}</td>
			                <td class="x">{{ course.getRouteDescription() }}</td>
			                <td class="x">{{ course.getGoalTrip() }}</td>
			                <td class="x" style="text-align:right;">{{ course.km|number_format() }}</td>
			                <td class="x" style="text-align:right;">{{ course.rate }}</td>
			                <td class="x" style="text-align:right;">{{ course.value|number_format(2) }}</td>
			                <td class="x" style="text-align:right;">{{ course.counter|number_format() }}</td>
			                <td class="x"></td>
			                {% if comments == 'true' %}
			                <td class="x">{{ course.comments }}</td>
			                {% endif %}
			            </tr>
			            {% endfor %}
			        </tbody>
			        <tbody>
			            <tr>
			                <td style="border: none;"></td>
			                <td></td>
			                <td></td>
			                <th class="x" style="text-align:right;">Razem</th>
			                <td class="x" style="text-align:right;">{{ sum_km|number_format() }}</td>
			                <td></td>
			                <td class="x" style="text-align:right;">{{ sum_value|number_format(2) }}</td>
			                <td></td>
			                {% if comments == 'true' %}
			                <td></td>
			                {% endif %}
			                <td></td>
			            </tr>                  
			        </tbody>
			    </table>
		</div>
		<div style="width:100%;margin-top:50px;">
			<div style="width:200px;text-align:center;margin-left:450px;">
				<p>...........................................................................</p>
				<p style="margin-top:-15px;float-size:8px;">(podpis kierownika jednostki)</p>
			</div>
		</div>
	</body>
</html>