{% extends 'admin/layout_login.html.twig' %}

{% block page_title 'Dane firmy' %}

{% block body_id 'welcome' %}

{% block content_title 'Dane firmy' %}

{% block main %}
<form id="save-settings" class=" new-form" action="{{ path('settingsSave') }}" method="post">

    <div class="row">
        <div class="field-group col-12 ">
                    
            <div class="form-group  field-text">
                <label for="settings_name" class="form-control-label required">Nazwa firmy</label>
                <div class="form-widget">            
                    <input type="text" id="settings_name" name="settings[name]" required="required" class="form-control" value="{{ data['name'] }}" />
                </div>
            </div>

            <div class="form-group  field-text">
                <label for="settings_street" class="form-control-label required">Ulica</label>
                <div class="form-widget">            
                    <input type="text" id="settings_street" name="settings[street]" required="required" class="form-control" value="{{ data['street'] }}" />
                </div>
            </div>

            <div class="form-group  field-text">
                <label for="settings_code" class="form-control-label required">Kod pocztowy</label>
                <div class="form-widget">            
                    <input type="text" id="settings_code" name="settings[code]" required="required" class="form-control" value="{{ data['code'] }}" />
                </div>
            </div>

            <div class="form-group  field-text">
                <label for="settings_city" class="form-control-label required">Miejscowość</label>
                <div class="form-widget">            
                    <input type="text" id="settings_city" name="settings[city]" required="required" class="form-control" value="{{ data['city'] }}" />
                </div>
            </div>

            <div class="form-group  field-text">
                <label for="settings_nip" class="form-control-label required">NIP</label>
                <div class="form-widget">            
                    <input type="text" id="settings_nip" name="settings[nip]" required="required" class="form-control" value="{{ data['nip'] }}" />
                </div>
            </div>

            <div class="form-group  field-text">
                <label for="settings_regon" class="form-control-label required">REGON</label>
                <div class="form-widget">            
                    <input type="text" id="settings_regon" name="settings[regon]" required="required" class="form-control" value="{{ data['regon'] }}" />
                </div>
            </div>

            <div class="form-group  field-text">
                <label for="settings_email" class="form-control-label">E-mail do powiadomień</label>
                <div class="form-widget">            
                    <input type="text" id="settings_email" name="settings[email]" class="form-control" value="{{ data['email'] }}" />
                </div>
            </div>

            <div class="form-group  field-text">
                <label for="settings_phone" class="form-control-label">Numer telefonu do powiadomień</label>
                <div class="form-widget">            
                    <input type="text" id="settings_phone" name="settings[phone]" class="form-control" value="{{ data['phone'] }}" />
                </div>
            </div>
{% endblock %}

{% block content_footer %}
    <input type="hidden" id="drivers__token" name="settings[_token]" value="8EvNsH1SmCcSO8Cowt_0Hu83hyCwAmtdvQq7CuCWAcg" />
        <div class="form-actions">        
            <button type="submit" class="btn btn-primary action-save" data-toggle="tooltip" data-placement="top" title="Kliknij i zapisz zmiany.">
                <span class="btn-label">Zapisz zmiany</span>
            </button>
        </div>
</form>
{% endblock %}
